<h1>Great Success!!</h1>

<%= debug @payment_intent.amount%>
<%= @payment_intent.charges.data[0].paid %>
<%# <%= @payment_intent.original_values.charges.data.billing_details.address%> %> %>


<%# <%= debug @session%> %>
<%= debug @payment_intent%>

