<div class="column is-one-quarter">
  <div class="card">
    <% if product.image.present? %>
      <div class="card-image">
        <figure class="image">
          <%= image_tag product.image, alt: product.name %>
        </figure>
      </div>
    <% end %>
    <div class="card-content">
      <p class="title 3">
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </p>
      <p>Type: <%= link_to product.category.name, product.category %></p>
    </div>

    <% if !show_link %>
      <section class = section>
          <p class="card-footer-item">
            Description: <br><%= product.description %>
          </p>
      </section>
    <% end %>

    <%# shopping cart %>
    <% if cart.include?(product) %>
      <%= button_to cart_path(product), method: :delete do %>
        Remove From Cart
      <%end%>
    <% else %>
      <%= form_with url: cart_index_path do %>
        <%= hidden_field_tag(:id, product.id) %>
        <%= button_tag 'Add to Cart '%>
        <% end %>
    <% end %>

    <footer class="card-footer">

      <% if product.sale %>
        <div class="card-footer-item">
            <p class="price_new_line">Price: <s><%=product.price%></s> </p>
            <p class="price_new_line">Sale price: <b><%= product.price - (product.price * product.discount) %></b> </p>
        </div>
        <p class="card-footer-item">
            Sale:  <br><%= (product.discount * 100).floor %>% off
        </p>
      <% else %>
        <p class="card-footer-item">
          Price: <br><%= product.price %>
        </p>
      <% end %>
      <p class="card-footer-item">
        Stock: <br><%= product.stock%>
      </p>
    </footer>
  </div>
</div>